<!DOCTYPE html>
<html lang="zxx">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>HONO - Multi Purpose HTML Template</title>

    <!-- ::::::::::::::Favicon icon::::::::::::::-->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/png">

    <!-- ::::::::::::::All CSS Files here :::::::::::::: -->
    <!-- Vendor CSS -->
    <!-- <link rel="stylesheet" href="/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="/css/vendor/ionicons.css">
    <link rel="stylesheet" href="/css/vendor/simple-line-icons.css">
    <link rel="stylesheet" href="/css/vendor/jquery-ui.min.css"> -->

    <!-- Plugin CSS -->
    <!-- <link rel="stylesheet" href="/css/plugins/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/plugins/animate.min.css">
    <link rel="stylesheet" href="/css/plugins/nice-select.css">
    <link rel="stylesheet" href="/css/plugins/venobox.min.css">
    <link rel="stylesheet" href="/css/plugins/jquery.lineProgressbar.css">
    <link rel="stylesheet" href="/css/plugins/aos.min.css"> -->

    <!-- Main CSS -->
    <!-- <link rel="stylesheet" href="/sass/style.css"> -->

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <link rel="stylesheet" href="/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="/css/plugins/plugins.min.css">
    <link rel="stylesheet" href="/css/style.min.css">

<body style="align-items:ceter ;">
    <br><br>
    <!-- ...:::: Start Customer Login Section :::... -->
    <div class="customer-login">
        <div class="container">
            <div class="row">
                <!--login area start-->
                <div class="col-lg-6 col-md-6">
                    <div class="account_form" data-aos="fade-up" data-aos-delay="0">
                        <h3>OTP Verification</h3>
                        <span id="message" class="text-success"></span>
                        <span id="message-2" class="text-danger"></span>
                        {{!-- <form id="submit-form" action="/otpsnd" method="post"> --}}
                            <div class="default-form-box">
                                <label>Mobile Number<span>*</span></label>
                                <input id="number" type="number" placeholder="Number" name="number">
                            </div>
                            <div class="default-form-box">
                                <button id="sendotp" class="btn btn-md btn-black-default-hover mb-4"
                                    onclick="myfunction(event)">Send OTP</button>

                                <div class="mb-3">
                                    {{!-- <form action="/resendOtp" method="post" class="resendform"> --}}
                                        <div class="buttonsInResend">
                                            <button id="resendOtp"
                                                class="otpResendbutton resenddisabled btn btn-md btn-black-default-hover mb-4"
                                                onclick="resendOtp(event)" disabled>Resend</button>

                                        </div>
                                        {{!--
                                    </form> --}}
                                </div>
                                <label>OTP <span>*</span></label>
                                {{!--
                        </form> --}}

                        <input type="text" id="otp" placeholder="OTP" name="otp">
                    </div>
                    <div class="login_submit">

                        <button class="btn btn-md ml-2 mt-5 btn-black-default-hover mb-4"
                            onclick="OTPlogin()">Verify</button>

                        <a href="/login">Go Back</a>
                        <br><br>
                        {{!-- <label class="checkbox-default mb-4" for="offer">
                            <input type="checkbox" id="offer">
                            <span>Remember me</span>
                        </label>
                        <a href="#">Lost your password?</a> --}}

                    </div>

                </div>
            </div>
        </div>
    </div>
    </div> <!-- ...:::: End Customer Login Section :::... -->


    <script src="/js/vendor/vendor.min.js"></script>
    <script src="/js/plugins/plugins.min.js"></script>

    <!-- Main JS -->
    <script src="/js/main.js"></script>


    <!-- Validation -->

    <script>
        /*  $(document).ready(function () {
              $("#submit-form").validate({
                  rules: {
                      number: {
                          required: true,
                      },
                  },
                  messages: {
      
                      number: {
                          required: "Enter a valid Mobile Number",
                      },
                  },
                  submitHandler: function (form, e) {
                      //OTPlogin();
      
                  },
              });
          });
      */
        // -----------------AXIOS-------------------//

        async function myfunction(e) {
            try {
                e.preventDefault();
                const number = document.getElementById('number').value;
                console.log(number)
                if (number == '') {
                    document.getElementById('message-2').innerHTML = "Enter a valid Mobile Number";


                }
                else {
                    window.addEventListener('click', () => {
                        document.getElementById('message-2').innerHTML = "";
                    })
                    const response = await axios({
                        method: 'post',
                        url: '/otpcheck',
                        data: {
                            number
                        }
                    })
                    console.log(response)
                    if (response.data.status == 'success') {

                        document.getElementById('message').innerHTML = response.data.message;
                        window.addEventListener('click', () => {
                            document.getElementById('message').innerHTML = "";
                        })
                        document.getElementById('resendOtp').disabled = false;
                        document.getElementById('sendotp').disabled = true;
                        /* const btn = document.getElementById('sendotp');
                         btn.addEventListener('click', () => {
                             // ðŸ‘‡ï¸ hide button
                             btn.style.display = 'none';
                         }) */
                    }
                }
            } catch (error) {
                document.getElementById('message-2').innerHTML = error.response.data.message;
                /* window.addEventListener('click', () => {
                     document.getElementById('message').innerHTML = "";*/
            }
        }


        async function resendOtp(e) {
            try {
                e.preventDefault();
                const number = document.getElementById('number').value;
                if (number == '') {
                    document.getElementById('message-2').innerHTML = "Enter a valid Mobile Number";
                }
                else {
                    const response = await axios({
                        method: 'post',
                        url: '/resendOtp',
                        data: {
                            number
                        }
                    })
                    if (response.data.status == 'success') {
                        document.getElementById('message').innerHTML = response.data.message;
                    }
                }
            }catch(error){
                document.getElementById('message-2').innerHTML = error.response.data.message;
            }
        }



        const OTPlogin = async function () {
            try {

                const number = document.getElementById('number').value;
                const otp = document.getElementById('otp').value;
                const response = await axios({
                    method: 'post',
                    url: '/otpsubmit',
                    data: {
                        number,
                        otp
                    }
                });
                //console.log(response.data)
                if (response.data.status == 'success') {
                    location.assign('/home')
                }
            }
            catch (error) {
                //console.log({error});
                document.getElementById('message-2').innerHTML = error.response.data.message;
                window.addEventListener('click', () => {
                    document.getElementById('message').innerHTML = "";
                })
            }
        }

    </script>